<div class='row'>
  <div class='col-md-12'>

    <%= form_with(model: memory) do |form| %>
      <% if memory.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>
    
          <ul>
          <% memory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <div class="control-label col-md-2">
          <%= form.label :title %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :title, id: :memory_title %>
        </div>
      </div>
    
      <div class="field">
        <div class="control-label col-md-2">
          <%= form.label :body , "Description" %>
        </div>
        <div class="col-md-10">
          <%= form.text_area :body, rows: 13, placeholder: "Post your Memories", autofocus: true, id: :memory_body %>
        </div>
      </div>
    
      <div class="actions">
        <div class="col-sm-offset-2 col-md-10">
          <%= form.submit class: 'btn btn-primary btn-lg'%>
        </div>
      </div>
    <% end %>
    
  </div>
</div>
