<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%=link_to link_to memory.title , memory%>
      </div>
      <div class="article-body">
        <%=truncate(memory.body, length: 100)%>
        <div class="article-meta-details">
          <small>
            created by: <%= memory.user.email.split('@') [0].capitalize %>,
            <%=time_ago_in_words(memory.created_at)%> ago,
            Last updated: <%=time_ago_in_words(memory.updated_at)%> ago
             | <%=pluralize(memory.comments.count, "Comment")%>
             | <%=pluralize(memory.votes_for.size.to_s, "Like")%>
          </small>
        </div>
      </div>
      <% if current_user == memory.user %>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
    </div>
  </div>
</div>